input:-ms-input-placeholder {color: #000000}
input::-webkit-input-placeholder {color: #000000}
input::-moz-placeholder {color: #000000}

     
div {
    position: absolute;
    height: 40px;
    width: 550px;
    left: 32%;
    border: 10px solid  #700b0b;
    background: #700b0b;
}
input[type=text]{
    font-size: 16px;
    width: 450px;
    padding: 10px;
    border: 0px solid;
    outline: none;
    float: left;
}
input[type=button] {
    width: 80px;
    height: 100%;
    margin-top:10px;
    border: 0px;
    background: #700b0b;
    border: 0px ;
    outline: none;
    float: right;
    color: #FFFFFF;
}